<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="./static/img/selfie/me.png" type="image/x-icon" />

    <!-- import JavaScript -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/naive-ui"></script>
    <script src="../../static/js/data.en.js"></script>

    <title>ZUYAO XU | Senior | 👋</title>
  </head>

  <body>
    <div id="app">
      <div id="header-container">
        <n-h1 prefix="bar" style="margin: 0; font-size: 28px">
          <n-text type="primary"> ZUYAO XU </n-text>
        </n-h1>

        <div>
          <n-h3 style="margin: 0">
            <n-a type="primary" href="../../index.html"> 简体中文 </n-a>
            |
            <n-a type="primary" href="index.html"> ENGLISH </n-a>
          </n-h3>
        </div>
      </div>
      <div id="body-container">
        <n-scrollbar style="max-height: 93vh">
          <div id="profile-container">
            <div id="left-container">
              <div id="selfie-container">
                <n-popover trigger="hover" placement="right">
                  <template #trigger>
                    <n-avatar
                      round
                      :size="256"
                      src="../../static/img/selfie/me.png"
                    ></n-avatar>
                  </template>
                  INFJ📗
                </n-popover>
              </div>

              <div id="info-container">
                <n-h2>ZUYAO XU</n-h2>
                <div align="center" />
                <p>Early bird, stable state✨</p>
                🌱 Currently learning "
                <n-a href="https://en.wikipedia.org/wiki/Domain_Name_System"
                  >DNS Security </n-a
                >"
              </div>
              <table>
                <tr>
                  <td>
                    <n-a href="https://www.upc.edu.cn/">
                      <img src="../../static/img/UPC.gif" width="96" />
                    </n-a>
                  </td>
                  <td>
                    <div
                      class="flex-container"
                      style="
                        flex-direction: column;
                        margin-top: 12px;
                        margin-left: 12px;
                      "
                    >
                      <n-h6 prefix="bar">
                        <div>
                          <n-tag>
                            China University of Petroleum (East China)
                          </n-tag>
                          <n-tag> Computer Science and Technology </n-tag>
                        </div>
                        <div>
                          <n-tag> Undergraduate Student, Class of 2021 </n-tag>
                        </div>
                      </n-h6>
                    </div>
                  </td>
                </tr>
                <br />
                <tr>
                  <td>
                    <n-a href="https://www.nankai.edu.cn/">
                      <img src="../../static/img/NKU.png" width="92" />
                    </n-a>
                  </td>
                  <td>
                    <div
                      class="flex-container"
                      style="
                        flex-direction: column;
                        margin-top: 12px;
                        margin-left: 12px;
                      "
                    >
                      <n-h6 prefix="bar">
                        <div>
                          <n-tag> Nankai University </n-tag>
                          <n-tag> Cyberspace Security </n-tag>
                        </div>
                        <div>
                          <n-tag>
                            Graduate Student, Class of 2025 (Pre-admitted)
                          </n-tag>
                          <n-tag>
                            Advisor:
                            <n-a href="https://lixiang521.com/"> Xiang Li </n-a>
                          </n-tag>
                        </div>
                      </n-h6>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <h2 align="center">
              Reach me on
              <img
                src="https://media.giphy.com/media/mGcNjsfWAjY5AEZNw6/giphy.gif"
                width="50"
              />
            </h2>
            <div align="center">
              <n-a href="https://github.com/tochusc"
                ><img
                  src="https://img.shields.io/badge/-Github Profile-8080ff?style=flat-square&logo=github&logoColor=white&link=https://tochusc.github.io/"
              /></n-a>
              <n-a href="mailto:tochsus@163.com"
                ><img
                  src="https://img.shields.io/badge/-Email:4spera-c14438?style=flat-square&logo=Gmail&logoColor=white&link=mailto:tochsus@163.com"
              /></n-a>
              <n-a href="https://x.com/xu_zu_yao"
                ><img
                  src="https://img.shields.io/badge/-4stra-grey?style=flat-square&logo=x&logoColor=white&link=https://x.com/xu_zu_yao"
              /></n-a>
              <n-a href="https://space.bilibili.com/10478211"
                ><img
                  src="https://img.shields.io/badge/-小鱼小鱼快快游02-blue?style=flat-square&logo=bilibili&logoColor=white&link=https://space.bilibili.com/10478211"
              /></n-a>
            </div>
          </div>
          <div id="right-container">
            <n-card>
              <n-tabs type="line" animated>
                <n-tab-pane name="awards" tab="Awards">
                  <n-h6
                    v-for="award in awardsData"
                    prefix="bar"
                    :type="award.tier === 'National' ? 'warning' : award.tier === 'Provincial' ? 'info' : 'success'"
                  >
                    <n-tag
                      :type="award.tier === 'National' ? 'warning' : award.tier === 'Provincial' ? 'info' : 'success'"
                      round
                    >
                      {{award.rank}}
                    </n-tag>
                    <n-text type="primary">
                      、
                      <n-dropdown trigger="hover">
                        <n-a
                          v-if="award.projectLink !== null"
                          :href="award.projectLink"
                        >
                          {{award.name}}
                        </n-a>
                        <p v-else>{{award.name}}</p>
                      </n-dropdown>
                      、
                      <n-a
                        v-if="award.competitionLink !== null"
                        :href="award.competitionLink"
                      >
                        {{award.competition}}
                      </n-a>
                      <p v-else>{{award.competition}}</p>
                      、{{award.date}}
                    </n-text>
                  </n-h6>
                </n-tab-pane>

                <n-tab-pane tab="Recent News" name="recentNews">
                  <n-h6
                    v-for="recentNew in recentNews"
                    prefix="bar"
                    :type="recentNew.tag === 'gold' ? 'warning' : 
                                        recentNew.tag === 'blue' ? 'info' : 'success'"
                  >
                    <n-tag
                      :type="recentNew.tag === 'gold' ? 'warning' 
                                            : recentNew.tag === 'blue' ? 'info' : 'success'"
                      round
                    >
                      {{recentNew.date}}
                    </n-tag>
                    <n-text type="primary">
                      、
                      <n-dropdown trigger="hover">
                        <n-a
                          v-if="recentNew.titleLink !== null"
                          :href="recentNew.titleLink"
                        >
                          {{recentNew.title}}
                        </n-a>
                        <p v-else>{{recentNew.title}}</p>
                      </n-dropdown>
                      、
                      <n-a
                        v-if="recentNew.descriptionLink !== null"
                        :href="recentNew.descriptionLink"
                      >
                        {{recentNew.description}}
                      </n-a>
                      <p v-else>{{recentNew.description}}</p>
                    </n-text>
                  </n-h6>
                </n-tab-pane>

                <n-tab-pane tab="Resume" name="resume">
                  <embed
                    src="../../cv.pdf"
                    width="100%"
                    height="840px"
                    type="application/pdf"
                  />
                </n-tab-pane>

                <n-tab-pane tab="Motto" name="motto">
                  <n-scrollbar>
                    <img
                      src="static/img/motto.png"
                      style="width: 100%; height: auto"
                      alt="motto"
                    />
                    <n-text>
                      "Per aspera ad astra", from Finland in the Nineteenth
                      Century, 1894
                    </n-text>
                  </n-scrollbar>
                </n-tab-pane>
              </n-tabs>
            </n-card>
          </div>
          <n-card>
            <div
              style="
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              "
            >
              <n-h6 prefix="bar">
                Life is not just about the code in front of you, but also poetry
                and the sea and the distance outside the South Gate🌈</n-h6
              >
              <img src="https://media.giphy.com/media/xqklsTVVXhPa/giphy.gif" />
            </div>
          </n-card>
        </n-scrollbar>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue;
      const App = {
        setup() {
          const awardsData = awards;
          const recentNews = news;
          return {
            awardsData,
            recentNews,
          };
        },
      };
      const app = createApp(App);
      app.use(naive);
      app.mount("#app");
    </script>
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
  }
  #header-container {
    padding: 6px 8px 6px 8px;
    border: #8080ff 2px solid;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
  }

  #body-container {
    height: 100%;
    width: 100%;
  }

  #profile-container {
    display: flex;
    flex-wrap: wrap;
  }

  #left-container {
    flex: 1 0 360px;
    display: flex;
    height: 93vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: ease-in-out 0.5s;
  }
  #right-container {
    flex: 3 0 600px;
    transition: ease-in-out 0.5s;
  }

  #info-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex-container {
    display: flex;
  }

  .content-divider {
    margin: 32px 0 32px 0;
  }
</style>
