<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="./static/img/selfie/me.png" type="image/x-icon" />

    <!-- import JavaScript -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/naive-ui"></script>
    <script src="static/js/text.js"></script>

    <!-- import CSS -->
    <link rel="stylesheet" href="static/css/styles.css">

  </head>

  <body>
    <div id="app">
      <title>{{ lan.name }} | {{lan.school}} | {{lan.major}} | {{lan.status}}</title>
      <div id="header-container">
        <div id="header">
          <n-h1 prefix="bar" id="my-name">
            <n-text type="primary"> {{lan.name}} </n-text>
          </n-h1>
          <div>
            <n-h3 id="language">
              <n-a type="primary" 
                @click="changeLanguage('en')"> 
                ENGLISH 
              </n-a>
              |
              <n-a type="primary" 
                @click="changeLanguage('ch')"> 
                简体中文 
              </n-a>
            </n-h3>
          </div>
        </div>
      </div>
      <div id="body-container">
        <div id="profile-container">
          <div id="left-container">
            <div id="intro-container">
              <div id="selfie-container">
                <n-popover trigger="hover" placement="right">
                  <template #trigger>
                    <n-avatar
                      round
                      :size="256"
                      src="./static/img/selfie/me.png"
                    ></n-avatar>
                  </template>
                  INFJ📗
                </n-popover>
              </div>

              <div id="info-container">
                <n-h2>{{lan.name}}</n-h2>
              </div>

              <div id="info-table">
                <table>
                  <tr>
                    <td>
                      <n-a href="https://www.nankai.edu.cn/">
                        <img src="static/img/NKU.png" width="92" />
                      </n-a>
                    </td>
                    <td>
                      <div class="school-container">
                        <n-h6 prefix="bar">
                          <div>
                            <n-tag> {{lan.status}} </n-tag>
                            <n-tag>
                              {{lan.advisor_header}}:
                              <n-a href="https://lixiang521.com/"> {{lan.advisor}} </n-a>
                            </n-tag>
                          </div>
                          <div>
                            <n-tag> {{lan.school}} </n-tag>
                            <n-tag> {{lan.major}} </n-tag>
                          </div>
                        </n-h6>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div id="reach-me">
                <h2 align="center">
                  Reach me on
                  <img
                    src="https://media.giphy.com/media/mGcNjsfWAjY5AEZNw6/giphy.gif"
                    width="50"
                  />
                </h2>
                <div align="center">
                  <n-a href="https://github.com/tochusc"
                    ><img
                      src="https://img.shields.io/badge/-Github-8080ff?style=flat-square&logo=github&logoColor=white&link=https://tochusc.github.io/"
                  /></n-a>
                  <n-a href="mailto:tochsus@163.com"
                    ><img
                      src="https://img.shields.io/badge/-Email-c14438?style=flat-square&logo=Gmail&logoColor=white&link=mailto:tochsus@163.com"
                  /></n-a>
                  <n-a href="https://x.com/xu_zu_yao"
                    ><img
                      src="https://img.shields.io/badge/-4stra-grey?style=flat-square&logo=x&logoColor=white&link=https://x.com/xu_zu_yao"
                  /></n-a>
                  <n-a href="https://space.bilibili.com/10478211"
                    ><img
                      src="https://img.shields.io/badge/-小鱼小鱼快快游02-blue?style=flat-square&logo=bilibili&logoColor=white&link=https://space.bilibili.com/10478211"
                  /></n-a>
                </div>
              </div>
            </div>
          </div>  
          <div id="right-container">
            <n-scrollbar style="width: 100%; height: 100%;">
            <n-tabs style="width: 100%; height: 100%;" type="line" animated>
              <n-tab-pane style="width: 100%; height: 100%;" name="awards" :tab=lan.awards_header>
                  <n-h6
                    v-for="award in lan.awards"
                    prefix="bar"
                    :type="award.tier === 'national' ? 'warning' : award.tier === 'provincial' ? 'info' : 'success'"
                  >
                    <n-tag
                      :type="award.tier === 'national' ? 'warning' : award.tier === 'provincial' ? 'info' : 'success'"
                      round
                    >
                    {{award.rank}}
                    </n-tag>
                    <n-text type="primary">
                      , 
                      <n-dropdown trigger="hover">
                        <n-a
                          v-if="award.projectLink !== null"
                          :href="award.projectLink"
                        >
                          {{award.name}}
                        </n-a>
                        <p v-else>{{award.name}}</p>
                      </n-dropdown>
                      , 
                      <n-a
                        v-if="award.competitionLink !== null"
                        :href="award.competitionLink"
                      >
                        {{award.competition}}
                      </n-a>
                      <p v-else>{{award.competition}}</p>
                      , {{award.date}}
                    </n-text>
                  </n-h6>
              </n-tab-pane>
              <n-tab-pane name="news" :tab=lan.news_header>
                <n-h6
                  v-for="recentNew in lan.news"
                  prefix="bar"
                  :type="recentNew.tag === 'gold' ? 'warning' : 
                  recentNew.tag === 'blue' ? 'info' : 'success'"
                >
                  <n-tag
                    :type="recentNew.tag === 'gold' ? 'warning' 
                    : recentNew.tag === 'blue' ? 'info' : 'success'"
                    round
                  >
                    {{recentNew.date}}
                  </n-tag>
                  <n-text type="primary">
                    , 
                    <n-dropdown trigger="hover">
                      <n-a
                        v-if="recentNew.titleLink !== null"
                        :href="recentNew.titleLink"
                      >
                        {{recentNew.title}}
                      </n-a>
                      <p v-else>{{recentNew.title}}</p>
                    </n-dropdown>
                    , 
                    <n-a
                      v-if="recentNew.descriptionLink !== null"
                      :href="recentNew.descriptionLink"
                    >
                      {{recentNew.description}}
                    </n-a>
                    <p v-else>{{recentNew.description}}</p>
                  </n-text>
                </n-h6>
              </n-tab-pane>
            </n-tabs>
          </div>
        </div>
      </div>
    </div>
    <script>
      const { createApp, ref } = Vue;
      const App = {
        setup() {

          const tex = text;
          const tex_en = text_en;
          lan = ref(tex_en);

          const changeLanguage = (lang) => {
            if (lang === "en") {
              lan.value = tex_en;
            } else {
              lan.value = tex;
            }
          };
          
          return {
            // variables
            lan,

            // methods
            changeLanguage,
          };
        },
      };
      const app = createApp(App);
      app.use(naive);
      app.mount("#app");
      

    </script>
  </body>
</html>
